@use "styles/variables" as *;
@use "styles/mixins" as *;

main.contact__me {
  width: 95%;
  max-width: 720px;
  margin: 4rem auto 12rem;
  @include border;
  min-height: 400px;

  @include mediaMin(tablet) {
    margin: 10rem auto 4rem;
  }

  & > section.header {
    h2 {
      font-weight: 600;
      font-size: 2.25rem;
      color: $color-100;
      margin-bottom: 1rem;

      @include mediaMin(tablet) {
        margin-bottom: 1.25rem;
      }
    }
    p {
      font-weight: 400;
      font-size: 1.25rem;
      color: $color-400;
    }
  }

  & > .form__container {
    width: 100%;
    margin: 3rem 0 0;
    @include border;
  }

  .names__box {
    width: 100%;
    @include flex(flex-start, flex-start, column);
    @include border;
    gap: 1.5rem;
    margin-bottom: 1.5rem;

    @include mediaMin(tablet) {
      flex-flow: row;
    }

    & > div {
      width: 100%;
      max-width: 343px;

      @include mediaMin(tablet) {
        width: 100%;
        max-width: 348px;
      }
    }
  }

  .names__box {
    width: 100%;
    margin-bottom: 1.5rem;
  }
}
