@font-face {
  font-family: "Inter";
  src: url("../public/fonts/Inter/static/Inter-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
