footer {
  width: 100%;
  margin: 4rem auto 0;
  padding: 2rem 0;
  box-sizing: border-box;
}

footer > section.container {
  width: 95%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0 0;
  border-top: 1px solid #d0d5dd;
}

footer > section.container span {
  font-size: 1rem;
  font-weight: 400;
  color: #667085;
}

footer > section.container img:first-of-type {
  height: 19px;
  width: 138px;
}

footer > section.container img:last-of-type {
  height: 24px;
  width: 99px;
}

@media (min-width: 768px) {
  footer > section.container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  footer > section.container img:first-of-type {
    height: 24px;
    width: 185px;
  }

  footer > section.container img:last-of-type {
    height: 32px;
    width: 132px;
  }

  footer > section.container span {
    font-size: 0.875rem;
  }
}
